@media screen and (min-width: 2500px){.menu_content li{font-size: 80px;line-height: 150px;}.menu_content{right: 21%;top:28%;}}@media screen and (min-width: 2000px) and (max-width: 2500px){.menu_content li{font-size: 80px;line-height: 160px;}.menu_normal{width: 101%;}}@media screen and (min-width:1200px) and (max-width:1500px){.menu_content li{font-size:40px;line-height:90px}.menu_content{right:18%}}@media screen and (min-width:1000px) and (max-width:1200px){.menu_content li{font-size:40px;line-height:90px}.menu_content{right:18%}}@media screen and (min-width:767px) and (max-width:1000px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:600px) and (max-width:767px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:450px) and (max-width:600px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:0px) and (max-width:450px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:0) and (max-width:767px){.menu_content{display:none;width:100%;height:100%;text-align:center;position:fixed;top:0;left:0;background:#111;z-index:999}.mini_menu_active{animation:menu_anim_active 1s ease}.menu_content ul{margin-top:30vh; padding-left: 0;}@keyframes menu_anim_active{0{left:100%}100%{left:0}}.mini_menu_notActive{animation:menu_anim_notActive 1s ease forwards}@keyframes menu_anim_notActive{0{left:0}100%{left:-100%}}.close_mini_menu{display:block;position:fixed;right:-50px;top:-50px;padding:5px 11px 15px 20px;background:#FFF;color:#111;font-size:30px;font-weight:600;font-family:Arial;border-bottom-left-radius:100%;cursor:pointer;animation:close_mini_menu_anim .3s forwards;animation-delay:.8s}@keyframes close_mini_menu_anim{0{right:-50px;top:-50px}100%{right:0;top:0}}.scrollTopButton{display:none}}@media screen and (min-width:0px) and (max-width:900px){.back_anim_block {height: 49.6vh;}}@media screen and (min-width: 350px) and (max-width: 450px) and (min-height: 780px) and (max-height: 850px){.menu_content li{font-size:35px !important;line-height:100px !important;}.menu_content ul{margin-top:25vh !important;}}

@media screen and (min-width: 2000px) and (max-width: 2600px){

.slider-images {
    margin-top: 8.6%;
}

.slide-titles {
   font-size: 82px;
}

.slide-title{
    margin-top: 2.6%;
}

@keyframes notActive_big_slide_slide-title_anim{
    0%{margin-top: 16vh;}
    100%{margin-top: 3vh;}
}

.btn-cont .btn {
    padding: 25px 40px;
    border: 3px solid white;
    font-size: 26px;
}

.arrow {
    border: 3px dashed #FFF;
    font-size: 33px;
    padding: 15px;
}

.content_title {
    margin-top: 30px;
    font-size: 40px;
}

.menu_button p {
    font-size: 27px;
}

.menu_image_block {
    transform: scale(1.1);
    position: relative;
    top: 6px;
    left: 13px;
}

.more-text-blocks {
    font-size: 29px;
}

.active_big_slide .slide-titles{
  font-size: 100px;
}

.more_about_planet{
    transform: scale(1.6);
}

.more_about_planet p:before {
    margin-left: -109px;
    margin-top: -21px;
}

.more_about_planet p:after {
    margin-left: 109px;
    margin-top: -21px;  
}

.back_button{
    transform: scale(1.5);
    margin-left: 1%;
}

.menu_button_slide_active{
    transform: scale(1.4);
    margin-right: 1.7%;
}

.active_big_slide .menu_image_block{
    transform: scale(.9);
    top: 2px;
    left: 6px;
}

.back_button:after {
    top: -5.5px;
    left: .5px;
}

.menu_button_slide_active:before {
    top: -5.5px;
    right: .9px;
}

.menu_button_slide_active, .back_button {
    top: 85px;
}

@keyframes back_anim_notActive{
    0%{left: -10px;}
    100%{left: -200px;}
}

@keyframes menu_button_slide_notActive_anim{
    0%{right: -20px;}
    100%{right: -250px;}
}
}

@media screen and (min-width:2600px){
    .slider-images {
    margin-top: 8.6%;
}

.slide-titles {
   font-size: 112px;
}

.slide-title{
    margin-top: 2.6%;
}

@keyframes notActive_big_slide_slide-title_anim{
    0%{margin-top: 16vh;}
    100%{margin-top: 3vh;}
}

.btn-cont .btn {
    top: 30px;
    padding: 35px 55px;
    border: 3px solid white;
    font-size: 32px;
}

.arrow {
    border: 3px dashed #FFF;
    font-size: 45px;
    padding: 22px;
}

.content_title {
    margin-top: 40px;
    font-size: 70px;
    line-height: 60px;
}

.menu_button p {
    font-size: 27px;
}

.menu_image_block {
    transform: scale(1.1);
    position: relative;
    top: 6px;
    left: 13px;
}

.more-text-blocks {
    font-size: 40px;
}

.active_big_slide .slide-titles {
    font-size: 130px;
}

.more_about_planet{
    transform: scale(2);
}

.more_about_planet p:before {
    margin-left: -109px;
    margin-top: -21px;
}

.more_about_planet p:after {
    margin-left: 109px;
    margin-top: -21px;  
}

.back_button{
    transform: scale(1.5);
    margin-left: 1%;
}

.menu_button_slide_active{
    transform: scale(1.4);
    margin-right: 1.7%;
}

.active_big_slide .menu_image_block{
    transform: scale(.9);
    top: 2px;
    left: 6px;
}

.back_button:after {
    top: -5.5px;
    left: .5px;
}

.menu_button_slide_active:before {
    top: -5.5px;
    right: .9px;
}

.menu_button_slide_active, .back_button {
    top: 125px;
}

@keyframes back_anim_notActive{
    0%{left: -10px;}
    100%{left: -200px;}
}

@keyframes menu_button_slide_notActive_anim{
    0%{right: -20px;}
    100%{right: -250px;}
}

@keyframes menu_button_slide_notActive_anim{
    0%{right: -20px;}
    100%{right: -300px;}
}

@keyframes back_anim_notActive{
    0%{left: -10px;}
    100%{left: -250px;}
}

.menu_button{
    transform: scale(1.4);
    top: 2.2vh;
}

.more_about_planet{
    margin-bottom: 25px;
}

.active_big_slide .arrow {
    transform: scale(1.2);
}

.back_button, .menu_button_slide_active{
    transform: scale(2.1);
}

}

@media screen and (min-width:1700px) and (max-width:1900px){
.slide-titles {
	font-size: 52px;
}

.content_title {
	font-size: 22px;
	line-height: 25px;
}

.menu_button {
	top: 1vh;
	right: 9%;
}

.menu_button p {
	font-size: 15px;
}

.menu_image_block {
	transform: scale(.6);
	position: relative;
    top: -4px;
}

.slider{
    margin-top: 5vh;
}

.active_big_slide .arrow {
    transform: scale(.9);
}
}

@media screen and (min-width:1500px) and (max-width:1700px){
.slide-titles {
    font-size: 52px;
}

.content_title {
    font-size: 22px;
    line-height: 25px;
}

.menu_button {
    top: 1vh;
    right: 9%;
}

.menu_button p {
    font-size: 15px;
}

.menu_image_block {
    transform: scale(.6);
    position: relative;
    top: -4px;
}

.slider{
    margin-top: 3vh;
}

.active_big_slide .arrow {
    transform: scale(.9);
}

.slider_img {
    width: 17%;
}

.active_slide{
    width: 26%;
    margin-left: 38%;
}

.prev_active {
    left: -8.5%;
}

@keyframes prev_active_anim{
    0%{left: -35%;}
    100%{left: -8.5%;}
}

.next_active {
    right: -8.5%;
}

@keyframes next_active_anim{
    0%{right: -35%;}
    100%{right: -8.5%;}
}

.slider-images {
    margin-top: 7%;
}

.arrow_block {
    transform: scale(.9);
    bottom: 10%;
}

.more-text-blocks {
    margin-left: 28%;
}

@keyframes active_big_slide_arrow{
    0% {opacity: 0;margin: 0 60%;}
    100% {opacity: 1;margin: 0 50%;}
}

.more_about_planet p {
    font-size: 26px;
}

.more_about_planet p:after {
    margin-left: 89.6px;
}

.more-text-blocks {
    font-size: 18px;
}

.active_big_slide .arrow_block {
    bottom: 48vh;
}

.active_big_slide_text .more-text-blocks_active{
    margin-top: -3vh;
}

}

@media screen and (min-width:1200px) and (max-width:1500px){
.slide-titles {
    font-size: 52px;
}

.content_title {
    font-size: 22px;
    line-height: 25px;
}

.menu_button {
    top: 1vh;
    right: 9%;
}

.menu_button p {
    font-size: 15px;
}

.menu_image_block {
    transform: scale(.6);
    position: relative;
    top: -4px;
}

.slider{
    margin-top: 0;
}

.active_big_slide .arrow {
    transform: scale(.9);
}

.slider_img {
    width: 17%;
}

.active_slide{
    width: 26%;
    margin-left: 38%;
}

.prev_active {
    left: -8.5%;
}

@keyframes prev_active_anim{
    0%{left: -35%;}
    100%{left: -8.5%;}
}

.next_active {
    right: -8.5%;
}

@keyframes next_active_anim{
    0%{right: -35%;}
    100%{right: -8.5%;}
}

.slider-images {
    margin-top: 6%;
}

.arrow_block {
    transform: scale(.9);
    bottom: 9.5%;
}

.more-text-blocks {
    margin-left: 29%;
}

@keyframes active_big_slide_arrow{
    0% {opacity: 0;margin: 0 60%;}
    100% {opacity: 1;margin: 0 50%;}
}

.more_about_planet p {
    font-size: 26px;
}

.more_about_planet p:after {
    margin-left: 90px;
}

.more-text-blocks {
    font-size: 18px;
}

.active_big_slide .arrow_block {
    bottom: 48vh;
}

.active_big_slide .active_slide{
    margin-left: 38%;
}

.active_big_slide .active_slide {
    margin-left: 36%;
}

}

@media screen and (min-width:1000px) and (max-width:1200px){
.slide-titles {
	font-size: 52px;
}

.content_title {
    font-size: 21px;
    margin-left: 1.2%;
    line-height: 22px;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.menu_image_block {
	transform: scale(.6);
	position: relative;
    top: -4px;
}

.active_big_slide .arrow{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    margin-top: 12vh;
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 16px;
}

.slider{
    margin-top: 5vh;
}

.more_about_planet p {
	font-size: 24px;
    padding: 15px 15px;
}

.arrow_block{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    width: 98%;
	transform: scale(1);
    position: absolute;
    bottom: inherit;
    z-index: 99;
}

.more_about_planet p:before {
	border: 30px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
	border: 30px solid transparent;
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: 78.9px;
    margin-top: -15px;
}

.back_button, .menu_button_slide_active{
	font-size: 14px;
    padding: 10px 19px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.active_big_slide .active_slide {
    margin-left: 35.5%;
}

}

@media screen and (min-width:1000px) and (max-width:1200px) and (min-height:650px) and (max-height:1200px){
.slider {
    margin-top: 16vh;
}

.more_text_block {
    top: 25vh;
}

.active_big_slide .arrow_block {
    margin-top: 9vh;
}

.slide-titles {
	font-size: 52px;
}

.content_title {
    font-size: 21px;
    margin-left: 1.2%;
    line-height: 22px;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.menu_image_block {
	transform: scale(.6);
	position: relative;
    top: -4px;
}

.active_big_slide .arrow{
	transform: scale(.8);
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 16px;
}

.slider{
    margin-top: 5vh;
}

.more_about_planet p {
	font-size: 24px;
    padding: 15px 15px;
}

.arrow_block{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    bottom: 50%;
	transform: scale(1);
}

.more_about_planet p:before {
	border: 30px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
	border: 30px solid transparent;
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button_slide_active{
	font-size: 14px;
    padding: 10px 19px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}



}

@media screen and (min-width:768px) and (max-width:1000px){

.slider{
    margin-top: 15vh;
}

.slide-titles {
	font-size: 42px;
    padding-bottom: 10px;
}

.content_title {
    font-size: 17px;
    margin-left: 1.2%;
    line-height: 17px;
    margin-top: 15px;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.arrow_block{
    transform: scale(.8);
    bottom: 11%;
}

.menu_button {
	top: 1vh;
    right: 6%;
}

.menu_button p {
	font-size: 15px;
}

.active_big_slide .arrow{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    margin-top: 10vh;
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 16px;
}

.slider {
    margin-top: 5vh;
}

.slider_img {
    width: 25%;
}

.more-text-blocks {
    width: 46%;
    margin-left: 26%;
    top: 25vh;
}


.prev_active {
    left: -15%;
    animation: prev_active_anim .7s;
}

@keyframes prev_active_anim{
	0%{left: -35%;}
	100%{left: -15%;}
}

.next_active {
    right: -15%;
    animation: next_active_anim .7s;
}

@keyframes next_active_anim{
	0%{right: -35%;}
	100%{right: -15%;}
}

.more_about_planet p {
	font-size: 24px;
    padding: 15px 15px;
}

.arrow_block{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    transform: scale(.97);
    position: absolute;
    z-index: 999;
}

.more_about_planet p:before {
	border: 30px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
	border: 30px solid transparent;
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button_slide_active{
	font-size: 14px;
    padding: 10px 19px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.active_slide {
	width: 40%;
	margin-left: 33%;
}
  
.active_big_slide .prev_active {
    animation: big_menu_active_prev_planet 1s forwards;
    animation-delay: 1s;
    left: -40%;
}

.active_big_slide .next_active {
    right: -40%;
    animation: big_menu_active_next_planet 1s forwards;
    animation-delay: 1s;
}

.active_big_slide .arrow {
    opacity: 0;
    position: absolute;
    top: -1000px;
    animation: active_big_slide_arrow 1s forwards;
    animation-delay: 1s;
}

@keyframes active_big_slide_arrow{

0% {
    top: -1000px;
    opacity: 0;
    margin: 0 60%;
}
100% {
    position: static;
    opacity: 1;
    margin: 0 42%;
}
}

.more_text_block{
    top: 25vh;
}

.active_big_slide .active_slide {
    margin-left: 36%;
}

}

@media screen and (min-width:600px) and (max-width:768px){

.slider{
    margin-top: 12vh;
}

.slide-titles {
    font-size: 55px;
    padding-bottom: 7.5vh;
}

@keyframes slide-titles_anim{
0% {
    opacity: 0;
    position: relative;
    top: -35px;
}

100% {
    opacity: 1;
    top: 0px;
}
}

.content_title {
    font-size: 25px;
    width: 60px;
    margin-left: 3%;
    line-height: 25px;
    position: relative;
    top: 2vh;
}

.menu_button {
	top: 1vh;
	right: 8%;
	display: none;
}

.menu_button p {
	font-size: 15px;
}

.arrow_block{
    transform: scale(.8);
    bottom: 11%;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.active_big_slide .arrow{
    transform: scale(.9);
}

.active_big_slide .arrow_block {
    margin-top: 12vh;
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
}

.active_big_slide .slider{
    margin-top: 26vh;
}

.slider_img {
    width: 30%;
}

.prev_active {
    left: -20%;
    animation: prev_active_anim .7s;
}

@keyframes prev_active_anim{
	0%{left: -35%;}
	100%{left: -20%;}
}

.next_active {
    right: -20%;
    animation: next_active_anim .7s;
}

@keyframes next_active_anim{
	0%{right: -35%;}
	100%{right: -20%;}
}

.more_about_planet p {
	font-size: 27px;
    padding: 15px 15px;
}

.arrow_block{
	transform: scale(1);
	animation: phone_arrows_anim 1s;
}

@keyframes phone_arrows_anim{
	0%{bottom: -10%;}
	100%{bottom: 11%;}
}

.active_big_slide .arrow_block {
	transform: scale(1);
}

.more_about_planet p:before {
	border: 36px solid transparent;
    border-right: 36px solid #FFF;
    border-bottom: 36px solid #FFF;
    margin-left: -86.5px;
    margin-top: -15px;
}

.more_about_planet p:after {
    border: 36px solid transparent;
    border-left: 36px solid #FFF;
    border-bottom: 36px solid #FFF;
    margin-left: 86px;
    margin-top: -15px;
}

.back_button, .menu_button_slide_active{
	font-size: 14px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.active_slide {
    width: 50%;
    margin-left: 27%;
}

.background-border{
	display: none;
} 

.menu_button_slide_active {
    display: inline-flex;
    right: -150px;
    animation: menu_button_slide_active_anim .5s forwards ease;
}

.active_big_slide .menu_button_image_slide_active{
	position: static;
}

.active_big_slide .menu_button_slide_active{
	padding: 12px 20px;
}

.more-text-blocks {
    width: 50%;
    margin-left: 24%;
}

.more_text_block {
    top: 12.9vh;
}

.active_big_slide .next_active {
	right: -40%;
    animation: big_menu_active_next_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_next_planet{
0%{right: -40%;}100%{right: -15%;opacity: .5;}
}

.active_big_slide .prev_active {
	left: -40%;
    animation: big_menu_active_prev_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_prev_planet{
10%{left: -40%;}100%{left: -15%;opacity: .5;}
}

.active_big_slide .slider-images {
    margin-top: 20%;
}

.active_big_slide .arrow_block {
    margin-top: 35.5vh;
    position: absolute;
    z-index: 999;
    bottom: inherit;
}

.active_big_slide .arrow {
	position: absolute;
	top: -1000px;
    animation: active_big_slide_arrow 1s forwards;
    animation-delay: .7s;
}

@keyframes active_big_slide_arrow{

0% {
    opacity: 0;
    margin: 0 60%;
}
100% {
	position: static;
    opacity: 1;
    margin: 0 42%;
}
}

.notActive_big_slide .menu_button_slide_active{
   right: -20px;
   animation: none;
}

.active_big_slide .slide-title {
    animation: active_big_slide_slide-title_anim 1s forwards;
}

@keyframes active_big_slide_slide-title_anim{
0%{top: 23vh;}
100%{top: 28vh;}
}

.active_big_slide .active_slide{
    top: 80vh;
    margin-left: 28% !important;
}

.menu_content li {
    font-size: 45px;
    line-height: 120px;
}

.active_big_slide .next_active, .active_big_slide .prev_active{
    animation-delay: .2s;
}

.back_button:after {
    top: -5.5px;
    left: 1px;
}

.back_button:before {
    top: -5px;
}

.menu_button_slide_active:after {
    top: -5px;
}

.menu_button_slide_active:before {
    top: -5.5px;
    right: 1px;
}
}

@media screen and (min-width:400px) and (max-width:600px){

.active_big_slide .active_slide{
    top: 80vh;
}


.slider{
    margin-top: 15vh;
}

.slide-titles {
    font-size: 40px;
    padding-bottom: 5vh;
}

.content_title {
    font-size: 20px;
    width: 60px;
    margin-left: 2%;
    line-height: 20px;
    position: relative;
    top: 5vh;
}

.menu_button {
	top: 1vh;
	right: 8%;
	display: none;
}

.menu_button p {
	font-size: 15px;
}

.arrow_block{
    transform: scale(.8);
    bottom: 11%;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.menu_image_block {
	transform: scale(.6);
	position: relative;
    top: -4px;
}

.active_big_slide .arrow{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    margin-top: 12vh;
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 15px;
}

.slider{
    margin-top: 14vh;
}

.active_big_slide .slider{
    margin-top: 17vh;
}

.slider_img {
    width: 30%;
}

.prev_active {
    left: -20%;
    animation: prev_active_anim .7s;
}

@keyframes prev_active_anim{
	0%{left: -35%;}
	100%{left: -20%;}
}

.next_active {
    right: -20%;
    animation: next_active_anim .7s;
}

@keyframes next_active_anim{
	0%{right: -35%;}
	100%{right: -20%;}
}

.more_about_planet p {
	font-size: 24px;
    padding: 15px 15px;
}

.arrow_block{
	transform: scale(.8);
	animation: phone_arrows_anim 1s;
	margin-left: -10%;
}

@keyframes phone_arrows_anim{
	0%{bottom: -10%;}
	100%{bottom: 11%;}
}

.active_big_slide .arrow_block {
	transform: scale(1);
}

.more_about_planet p:before {
	border: 30px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
	border: 30px solid transparent;
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: 78.9px;
    margin-top: -15px;
}

.back_button, .menu_button_slide_active {
    font-size: 12px;
    padding: 7px 16px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.active_slide {
    width: 60%;
    margin-left: 22%;
    margin-top: 0%;
}

.background-border{
	display: none;
}

.menu_button_image_slide_active {
    position: relative; 
    top: 7px;
}

.menu_button_slide_active {
    display: inline-flex;
    right: -150px;
    animation: menu_button_slide_active_anim .5s forwards ease;
}

.active_big_slide .menu_button_image_slide_active{
	position: static;
}

.active_big_slide .menu_button_slide_active{
	padding: 12px 20px;
}

.more-text-blocks {
	width: 70%;
    margin-left: 14%;
}

.more_text_block {
    top: 15vh;
}

.active_big_slide .next_active {
	right: -40%;
    animation: big_menu_active_next_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_next_planet{
0%{right: -40%;}100%{right: -15%;opacity: .5;}
}

.active_big_slide .prev_active {
	left: -40%;
    animation: big_menu_active_prev_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_prev_planet{
10%{left: -40%;}100%{left: -15%;opacity: .5;}
}

.active_big_slide .slider-images {
    margin-top: 20%;
}

.active_big_slide .arrow_block {
    margin-top: 7vh;
    position: absolute;
    z-index: 999;
    bottom: inherit;
}

.active_big_slide .arrow {
	position: absolute;
	top: -1000px;
    animation: active_big_slide_arrow 1s forwards;
    animation-delay: .7s;
}

@keyframes active_big_slide_arrow{

0% {
	top: 0;
    opacity: 0;
    margin: 0 60%;
}
100% {
	position: static;
    opacity: 1;
    margin: 0 42%;
}
}

.notActive_big_slide .menu_button_slide_active{
   right: -20px;
   animation: none;
}

.active_big_slide .slide-title {
    animation: active_big_slide_slide-title_anim 1s forwards;
}

@keyframes active_big_slide_slide-title_anim{
0%{top: 23vh;}
100%{top: 20vh;}
}

.arrow_block {
    width: 130%;
    margin-left: -15%;
}

.back_button{
	padding: 10px 20px;
}

.prev_active, .next_active {
	display: none;
}

.active_big_slide .menu_button_slide_active {
	right: -20px;
    animation: none;
}

@keyframes menu_button_slide_active_anim{
0%{right: -20px;}
100%{right: -20px;}
}

.active_big_slide .active_slide {
    top: 80vh;
}
}

@media screen and (min-width:0px) and (max-width:400px){

.active_big_slide .active_slide {
    top: 80vh;
}

.slider{
    margin-top: 15vh;
}

.slide-titles {
    font-size: 40px;
    padding-bottom: 4vh;
}

.content_title {
    font-size: 20px;
    width: 60px;
    margin-left: 2%;
    line-height: 20px;
    position: relative;
    top: 5vh;
}

.menu_button {
	top: 1vh;
	right: 8%;
	display: none;
}

.menu_button p {
	font-size: 15px;
}

.menu_image_block {
	transform: scale(.6);
	position: relative;
    top: -4px;
}

.arrow_block{
    transform: scale(.8);
    bottom: 11%;
}

.menu_button {
	top: 1vh;
	right: 8%;
}

.menu_button p {
	font-size: 15px;
}

.active_big_slide .arrow{
	transform: scale(.8);
}

.active_big_slide .arrow_block {
    margin-top: 12vh;
}

.active_big_slide_text .more-text-blocks_active {
    font-size: 14px;
}

.slider{
    margin-top: 16vh;
}

.slider_img {
    width: 30%;
}

.prev_active {
    left: -20%;
    animation: prev_active_anim .7s;
}

@keyframes prev_active_anim{
	0%{left: -35%;}
	100%{left: -20%;}
}

.next_active {
    right: -20%;
    animation: next_active_anim .7s;
}

@keyframes next_active_anim{
	0%{right: -35%;}
	100%{right: -20%;}
}

.more_about_planet p {
	font-size: 21px;
    padding: 10px 15px;
}

.arrow_block{
	transform: scale(.8);
	animation: phone_arrows_anim 1s;
	margin-left: -10%;
}

@keyframes phone_arrows_anim{
	0%{bottom: -10%;}
	100%{bottom: 11%;}
}

.active_big_slide .arrow_block {
	transform: scale(1);
}

.more_about_planet p:before {
	border: 25px solid transparent;
    border-right: 25px solid #FFF;
    border-bottom: 25px solid #FFF;
    margin-left: -65px;
    margin-top: -10px;
}

.more_about_planet p:after {
	border: 25px solid transparent;
    border-left: 25px solid #FFF;
    border-bottom: 25px solid #FFF;
    margin-left: 70.8px;
    margin-top: -10px;
}

.back_button, .menu_button_slide_active {
    font-size: 12px;
    padding: 7px 16px;
}

.active_big_slide .menu_image_block{
	width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.active_slide {
    width: 60%;
    margin-left: 22%;
}

.background-border{
	display: none;
}

.menu_button_image_slide_active {
    position: relative; 
    top: 7px;
}

.menu_button_slide_active {
    display: inline-flex;
    right: -150px;
    animation: menu_button_slide_active_anim .5s forwards ease;
}

.active_big_slide .menu_button_image_slide_active{
	position: static;
}

.active_big_slide .menu_button_slide_active{
	padding: 12px 20px;
}

.more-text-blocks {
	width: 70%;
    margin-left: 14%;
}

.more_text_block {
    top: 18vh;
}

.active_big_slide .next_active {
	right: -40%;
    animation: big_menu_active_next_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_next_planet{
0%{right: -40%;}100%{right: -15%;opacity: .5;}
}

.active_big_slide .prev_active {
	left: -40%;
    animation: big_menu_active_prev_planet 1s forwards;
    animation-delay: .5s;
}

@keyframes big_menu_active_prev_planet{
10%{left: -40%;}100%{left: -15%;opacity: .5;}
}

.active_big_slide .slider-images {
    margin-top: 20%;
}

.active_big_slide .arrow_block {
    margin-top: 7vh;
    position: absolute;
    z-index: 999;
    bottom: inherit;
}

.active_big_slide .arrow {
	position: absolute;
	top: -1000px;
    animation: active_big_slide_arrow 0s forwards;
  /*  animation-delay: .7s;*/
}

@keyframes active_big_slide_arrow{
0% {
	top: 0;
    opacity: 0;
    margin: 0 60%;
}
100% {
	position: static;
    opacity: 1;
    margin: 0 42%;
}
}

.notActive_big_slide .menu_button_slide_active{
   right: -20px;
   animation: none;
}

.active_big_slide .slide-title {
    animation: active_big_slide_slide-title_anim 1s forwards;
}

@keyframes active_big_slide_slide-title_anim{
0%{top: 23vh;}
100%{top: 22vh;}
}

.arrow_block {
    width: 160%;
    transform: scale(.6);
    margin-left: -30%;
}

.back_button{
	padding: 8px 18px;
}

.prev_active, .next_active {
	display: none;
}

.active_big_slide .menu_button_slide_active {
	right: -20px;
    animation: none;
    padding: 8px 15px;
}

@keyframes menu_button_slide_active_anim{
0%{right: -20px;}
100%{right: -20px;}
}
}


@media screen and (min-width:0px) and (max-width:768px){
.left_arrow:hover{
    background: none;
    color: #FFF;
 }   

.right_arrow:hover{
    background: none;
    color: #FFF;
}   

.menu_content{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    z-index: 999;
}

.mini_menu_active{
  animation: menu_anim_active 1s ease; 
}

.menu_content ul{
    margin-top: 26vh;
    padding-left: 0px;
}

@keyframes menu_anim_active{
    0%{left: 100%;}
    100%{left: 0;}
}

.mini_menu_notActive{
    animation: menu_anim_notActive 1s ease forwards;
}

@keyframes menu_anim_notActive{
    0%{left: 0;}
    100%{left: -100%}
}

.close_mini_menu{
    display: block;
    position: fixed;
    right: -50px;
    top: -50px;
    margin-right: -1px;
    padding: 10px 15px 15px 20px;
    background: #FFF;
    color: #111;
    font-size: 42px;
    font-weight: 600;
    font-family: Arial;
    border-bottom-left-radius: 100%;
    cursor: pointer;
    animation: close_mini_menu_anim .3s forwards;
    animation-delay: .8s;
}

@keyframes close_mini_menu_anim{
    0%{right: -50px;top: -50px;}
    100%{right: 0px;top: 0px;}
}

.active_big_slide .active_slide {
    margin-left: 22%;
}

}

/*Iphone X*/
@media screen and (min-width:350px) and (max-width:400px) and (min-height: 800px) and (max-height: 850px){
.more_about_planet p {
    font-size: 27px;
    padding: 15px 20px;
}

.more_about_planet p:after {
    border: 37px solid transparent;
    border-left: 48px solid #FFF;
    border-bottom: 25px solid #FFF;
    margin-left: 91px;
    margin-top: -15px;
}

.more_about_planet p:before {
    border: 37px solid transparent;
    border-right: 48px solid #FFF;
    border-bottom: 25px solid #FFF;
    margin-left: -104px;
    margin-top: -15px;
}

.active_slide {
    width: 70%;
    margin-left: 17%;
    margin-top: 5%;
}

.arrow_block {
    transform: scale(.7);
}
}

@media screen and (max-width: 1200px) and (min-width: 1000px){
.active_big_slide .arrow_block {
    margin-top: 39vh;
}
}