@media screen and (min-width: 2500px){.menu_content li{font-size: 80px;line-height: 150px;}.menu_content{right: 21%;top:28%;}}@media screen and (min-width: 2000px) and (max-width: 2500px){.menu_content li{font-size: 80px;line-height: 160px;}.menu_normal{width: 101%;}}@media screen and (min-width:1200px) and (max-width:1500px){.menu_content li{font-size:40px;line-height:90px}.menu_content{right:18%}}@media screen and (min-width:1000px) and (max-width:1200px){.menu_content li{font-size:40px;line-height:90px}.menu_content{right:18%}}@media screen and (min-width:767px) and (max-width:1000px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:600px) and (max-width:767px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:450px) and (max-width:600px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:0px) and (max-width:450px){.menu_content li{font-size:30px;line-height:70px}.menu_content{right:18%}}@media screen and (min-width:0) and (max-width:767px){.menu_content{display:none;width:100%;height:100%;text-align:center;position:fixed;top:0;left:0;background:#111;z-index:999}.mini_menu_active{animation:menu_anim_active 1s ease}.menu_content ul{margin-top:30vh; padding-left: 0;}@keyframes menu_anim_active{0{left:100%}100%{left:0}}.mini_menu_notActive{animation:menu_anim_notActive 1s ease forwards}@keyframes menu_anim_notActive{0{left:0}100%{left:-100%}}.close_mini_menu{display:block;position:fixed;right:-50px;top:-50px;padding:5px 11px 15px 20px;background:#FFF;color:#111;font-size:30px;font-weight:600;font-family:Arial;border-bottom-left-radius:100%;cursor:pointer;animation:close_mini_menu_anim .3s forwards;animation-delay:.8s}@keyframes close_mini_menu_anim{0{right:-50px;top:-50px}100%{right:0;top:0}}.scrollTopButton{display:none}}@media screen and (min-width:0px) and (max-width:900px){.back_anim_block {height: 49.6vh;}}@media screen and (min-width: 350px) and (max-width: 450px) and (min-height: 780px) and (max-height: 850px){.menu_content li{font-size:35px !important;line-height:100px !important;}.menu_content ul{margin-top:25vh !important;}}

@media screen and (min-width: 2000px) and (max-width: 2600px){

.text_block h1 {
    font-size: 43px;
}

.text_block p {
    font-size: 25px;
}

.slide-titles {
    font-size: 65px;
}

.back_button {
    transform: scale(1.3);
    left: 0px;
}

.menu_button {
    transform: scale(1.2);
    right: 10px;
}

.back_button:after {
    top: -5.5px;
}

.menu_button, .back_button{
    top: 70px;
}
}

@media screen and (min-width: 2600px){

.text_block h1 {
    font-size: 65px;
}

.text_block p {
   font-size: 42px;
}

.slide-titles {
    font-size: 105px;
}

.back_button {
    transform: scale(1.3);
    left: 0px;
}

.menu_button {
    transform: scale(1.2);
    right: 10px;
}

.back_button:after {
    top: -5.5px;
}

.menu_button, .back_button{
    top: 120px;
}

.back_button, .menu_button{
    transform: scale(2);
}

.back_button{
    left: 35px;
}

.menu_button{
    right: 60px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1500px){

.slide-titles{
    font-size: 40px;
}

.back_button, .menu_button{
    font-size: 14px;
    padding: 10px 19px;
}

.menu_button{
    padding-right: 15px;
}

.menu_button:hover{
    padding-right: 25px;
}

.menu_button_image {
    width: 90%;
    height: 100%;
}

.menu_image_block {
    width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

.text_block h1 {
    font-size: 30px;
    margin-bottom: 0;

}

.text_block p {
    font-size: 14px;
    margin-bottom: 0;
}

.lightsaber_block {
    top: 14vh;
    left: 65%;
    width: 13%;
    height: 10vh;
}
}

@media screen and (min-width: 768px) and (max-width: 1000px){

.active_slide {
    width: 44%;
    position: relative;
    top: 0vh;
}

.slide-title{
    top: 12vh;
}

.slide-titles{
    font-size: 35px;
}

.arrow{
    font-size: 20px;
    padding: 7px;
}

.arrow_block{
    bottom: 10%;
}

.arrow_block{
    width: 86%;
    left: 7%;
    bottom: 6%;
}

.prev_active, .next_active {
    width: 22%;
    display: none;
}

.more_about_planet p {
    font-size: 24px;
    padding: 15px 15px;
}

.more_about_planet p:before {
    border: 30px solid transparent;
    border-right: 30px solid #111;
    border-bottom: 30px solid #111;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
    border: 30px solid transparent;
    border-left: 30px solid #111;
    border-bottom: 30px solid #111;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button{
    font-size: 13px;
    padding: 10px 19px;
}

.menu_button{
    padding-right: 10px;
}

.menu_button:hover{
    padding-right: 17px;
}

.menu_button_image {
    width: 80%;
    height: 90%;
}

.menu_image_block {
    width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

html,body{
    overflow-y: auto;
    height: 159vh;
}

.content{
    height: 100%;
}

.background_colors {
    position: absolute;
    top: -16%;
}

.text_block h1 {
    font-size: 28px;
    margin-bottom: 0;
}

.text_block p {
    font-size: 15px;
    margin-bottom: 0;
}

.lightsaber_block {
    top: 105vh;
    left: 40%;
    width: 20%;
    height: 9vh;
    padding: 15px 12px;
}

.text_block {
    width: 70%;
    text-align: center;
}

.text_block_1 {
    top: 92vh;
    left: 15%;
}

.text_block_2 {
    top: 95vh;
    left: 15%;
}
}

@media screen and (min-width: 600px) and (max-width: 768px){

.active_slide {
    width: 44%;
    position: relative;
    top: 0vh;
}

.slide-title{
    top: 12vh;
}

.slide-titles{
    font-size: 40px;
}

.arrow{
    font-size: 20px;
    padding: 7px;
}

.arrow_block{
    bottom: 10%;
}

.arrow_block{
    width: 86%;
    left: 7%;
    bottom: 6%;
}

.prev_active, .next_active {
    width: 22%;
    display: none;
}

.more_about_planet p {
    font-size: 24px;
    padding: 15px 15px;
}

.more_about_planet p:before {
    border: 30px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
    border: 30px solid transparent;
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button{
    font-size: 13px;
    padding: 10px 19px;
}

.menu_button{
    padding-right: 10px;
}

.menu_button:hover{
    padding-right: 17px;
}

.menu_button_image {
    width: 80%;
    height: 90%;
}

.menu_image_block {
    width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

html, body {
    overflow-y: auto;
    height: 137vh;
}

.content{
    height: 100%;
}

.background_colors {
    position: absolute;
    top: -16%;
}

.text_block h1 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 3vh;
}

.text_block p {
    font-size: 14px;
    margin-top: 3vh;
    margin-bottom: 0;
}

.lightsaber_block {
    top: 85vh;
    left: 35%;
    width: 30%;
    height: 8vh;
    padding: 15px 12px;
}

.text_block {
    width: 70%;
    text-align: center;
}

.text_block_1 {
    top: 74vh;
    left: 15%;
}

.text_block_2 {
    top: 77vh;
    left: 15%;
}

.active_slide {
    width: 54%;
}

.menu_content li {
    font-size: 45px;
    line-height: 120px;
}

.back_button:after {
    top: -6px;
    left: .5px;
    width: 40px;
    background-color: #111;
    height: 6px;
    border-radius: 0 0px 0 0;
}

.back_button:before {
    width: 0;
    height: 0;
    top: -5px;
    left: 40px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #111;
    border-left: 12px solid #111;
    border-right: 6px solid transparent;
}
}

@media screen and (min-width: 350px) and (max-width: 600px){

.active_slide {
    width: 62%;
    position: relative;
    top: -3vh;
}

.slide-title{
    top: 16vh;
}

.slide-titles {
    font-size: 21px;
}

.arrow{
    font-size: 20px;
    padding: 7px;
}

.arrow_block{
    bottom: 10%;
}

.arrow_block{
    width: 86%;
    left: 7%;
    bottom: 6%;
}

.prev_active, .next_active {
    width: 22%;
    display: none;
}

.more_about_planet p {
    font-size: 24px;
    padding: 15px 15px;
}

.more_about_planet p:before {
    border: 30px solid transparent;
    border-right: 30px solid #111;
    border-bottom: 30px solid #111;
    margin-left: -75px;
    margin-top: -15px;
}

.more_about_planet p:after {
    border: 30px solid transparent;
    border-left: 30px solid #111;
    border-bottom: 30px solid #111;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button{
    font-size: 13px;
    padding: 9px 18px;
}

.menu_button{
    padding-right: 0px;
}

.menu_button:hover{
    padding-right: 17px;
}

.menu_button_image {
    width: 80%;
    height: 90%;
}

.menu_image_block {
    width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

html, body {
    overflow-y: auto;
    height: 138vh;
}

.content{
    height: 100%;
}

.background_colors {
    width: 140%;
    height: 119%;
    position: absolute;
    top: -26%;
    left: -20%;
}

.text_block h1 {
    font-size: 23px;
    margin-bottom: 0;
}

.text_block p {
    font-size: 11px;
    margin-bottom: 0;
}

.lightsaber_block {
    top: 76vh;
    left: 63%;
    width: 20%;
    height: 8vh;
    padding: 10px 6px;
}

.text_block {
    width: 40%;
}

.text_block_1 {
    top: 70vh;
    left: 15%;
    text-align: center;
    width: 70%;
}

.text_block_2{
    top: 74vh;
    left: 15%;
    text-align: center;
    width: 70%;
}

.lightsaber_block {
    top: 80vh;
    left: 30%;
    width: 40%;
}

.slide-titles {
    font-size: 28px;
}

}

@media screen and (min-width: 0px) and (max-width: 350px){

.active_slide {
    width: 62%;
    position: relative;
    top: -3vh;
}

.slide-title{
    top: 16vh;
}

.arrow{
    font-size: 18px;
    padding: 7px;
}

.arrow_block{
    bottom: 10%;
}

.arrow_block{
    width: 90%;
    left: 5%;
    bottom: 8%;
}

.prev_active, .next_active {
    width: 22%;
    display: none;
}

.more_about_planet p {
    font-size: 24px;
    padding: 15px 15px;
}

.more_about_planet p:before {
    border: 28px solid transparent;
    border-right: 28px solid #111;
    border-bottom: 28px solid #111;
    margin-left: -71px;
    margin-top: -15px;
}

.more_about_planet p:after {
    border: 28px solid transparent;
    border-left: 28px solid #111;
    border-bottom: 28px solid #111;
    margin-left: 79px;
    margin-top: -15px;
}

.back_button, .menu_button{
    font-size: 12px;
    padding: 9px 16px;
}

.menu_button{
    padding-right: 0px;
}

.menu_button:hover{
    padding-right: 17px;
}

.menu_button_image {
    width: 80%;
    height: 90%;
}

.menu_image_block {
    width: 40px;
    height: 22px;
    padding-right: 10px;
    position: relative;
    top: -1px;
}

html,body{
    overflow-y: auto;
    height: 148vh;
}

.content{
    height: 148vh;
}

.background_colors {
    position: absolute;
    top: -32%;
    left: -230%;
}

.text_block h1 {
    font-size: 22px;
    margin-bottom: 0;
}

.text_block p {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

.lightsaber_block {
    top: 76vh;
    left: 63%;
    width: 20%;
    height: 8vh;
    padding: 10px 6px;
}

.text_block {
    width: 40%;
}

.text_block_1 {
    top: 70vh;
    left: 20%;
    text-align: center;
    width: 60%;
}

.text_block_2{
    top: 76vh;
    left: 20%;
    text-align: center;
    width: 60%;
}

.lightsaber_block {
    top: 85vh;
    left: 30%;
    width: 40%;
}

.slide-titles {
    font-size: 24px;
}
}

@media screen and (min-width:0px) and (max-width:768px){
.menu_content{
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    z-index: 999;
}

.mini_menu_active{
  animation: menu_anim_active 1s ease; 
}

.menu_content ul{
    margin-top: 26vh;
    padding-left: 0px;
}

@keyframes menu_anim_active{
    0%{left: 100%;}
    100%{left: 0;}
}

.mini_menu_notActive{
    animation: menu_anim_notActive 1s ease forwards;
}

@keyframes menu_anim_notActive{
    0%{left: 0;}
    100%{left: -100%}
}

.close_mini_menu{
    display: block;
    position: fixed;
    right: -50px;
    top: -50px;
    margin-right: -1px;
    padding: 10px 15px 15px 20px;
    background: #FFF;
    color: #111;
    font-size: 42px;
    font-weight: 600;
    font-family: Arial;
    border-bottom-left-radius: 100%;
    cursor: pointer;
    animation: close_mini_menu_anim .3s forwards;
    animation-delay: .8s;
}

@keyframes close_mini_menu_anim{
    0%{right: -50px;top: -50px;}
    100%{right: 0px;top: 0px;}
}
}

@media screen and (min-width: 350px) and (max-width: 420px) and (min-height: 760px) and (max-height: 900px){
.background_colors {
        top: -28%;
}
}

@media screen and (min-width: 0px) and (max-width: 767px){
.slider, .back, .menu_button{
    display: none;
}
}

@media screen and (min-width: 350px) and (max-width: 420px) and (min-height: 760px) and (max-height: 900px){
.background_colors {
        top: -28%;
}
}

@media screen and (min-width: 0px) and (max-width: 767px){
.slider, .back, .menu_button{
    display: none;
}
}

@media screen and (min-width: 350px) and (max-width: 420px) and (min-height: 760px) and (max-height: 900px){
.background_colors {
        top: -28%;
}
}

@media screen and (min-width: 0px) and (max-width: 767px){
.slider, .back, .menu_button{
    display: none;
}
}

@media screen and (min-width: 350px) and (max-width: 420px) and (min-height: 760px) and (max-height: 900px){

.background_colors {
        top: -28%;
}

.content {
    height: 100%;
}
}

@media screen and (min-width: 0px) and (max-width: 767px){
.slider, .back, .menu_button{
    display: none;
}

.menu_button{
    top: 40px;
}
}

/*Iphone 6/7/8*/
@media screen and (min-width: 370px) and (max-width: 420px) and (min-height: 760px) and (max-height: 850px){

.lightsaber_block {
    width: 40%;
    top: 85vh;
    left: 30%;
}

.text_block_1 {
    top: 70vh;
}

.text_block_2 {
    top: 71vh;
}

.lightsaber_block {
    top: 82vh;
}
}

/*Iphone 6/7/8 plus*/
@media screen and (min-width: 370px) and (max-width: 420px) and (min-height: 700px) and (max-height: 750px){

.lightsaber_block {
    width: 40%;
    top: 83vh;
    left: 30%;
}

.text_block_1 {
    top: 70vh;
}

.text_block_2 {
    top: 74vh;
}

html, body {
    overflow-y: auto;
    height: 132vh;
}
}

/*Iphone X*/
@media screen and (min-width: 370px) and (max-width: 420px) and (min-height: 780px) and (max-height: 830px){

.lightsaber_block {
    width: 40%;
    top: 74vh;
    left: 30%;
}

.text_block_1 {
    top: 65vh;
}

html, body {
    height: 122vh;
}

.text_block_2 {
    top: 68vh;
    left: 15%;
    text-align: center;
    width: 70%;
}
}

@media screen and (min-width: 1500px) and (max-width: 1700px) and (min-height: 850px) and (max-height: 950px){
.text_block p {
    font-size: 18px;
}
}